*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: sans-serif;
    color:whitesmoke;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    background-color:rgba(15, 14, 14, 0.718);
    border-radius: 16px;
    padding: 30px;

}

.main-content{
    height: 90vh;
    background-color: rgb(16, 16, 16);
    border-radius: 16px;
}
.profile{
    text-align: center;
}

.profile img{
    height: 120px;
    width: 120px;
    border-radius: 80px;
    border:  1px solid #3a3a3a

}

.profile h2{
    font-size: 1.5;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 2px 15px;
    color: #daaf2f;
    font-size: 1rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;

}
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.label{
    font-weight: 400px;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}

.Email,.Phone{
    margin-bottom: 10px;
}

